<div id="container">
    <video id="background_video" loop muted></video>
    <div id="video_cover"></div>
    <div id="overlay"></div>

    <div id="video_controls">
      <span id="play">
        <img src="{{asset "play.png"}}">
      </span>
      <span id="pause">
        <img src="{{asset "pause.png"}}">
      </span>
    </div>
    
    <div id="slogan">
    <h1>cazzo cazzo</h1>
    <h2>a new textile academy</h2>
    
    <button id="enroll" class="button is-large is-primary animated tada" style="margin-top:48px">Enroll today</button><br/>
    <div id="learn-more" class="animated bounce" style="margin-top: 150px">Learn more<br><span class="icon">
  <i class="fa fa-arrow-down"></i>
</span></div>
  </div>  
</div>