<section id="bootcamps" class="section is-medium" style="background-color: rgb(0, 204, 214);">
  <div class="container">
    <div class="columns">
      <div class="column">
        <div class="box fix-height">
        <div class="heading>
          <h1 class="title is-1">ORGANIZE A BOOTCAMP</h1>
          <h2 class="subtitle">
            The Fabricademy bootcamp is an excellent opportunity to train your staff and local community, and  for getting them started with the skills covered by Fabricademy.</h2>
            <p class="has-text-centered">
          <a href="mailto:info@textile-academy.org" class="button is-large is-primary">Contact us</a>
          <br>
          <a href="/textile-academy-bootcamp-wrapup">Check out what happened during the last Bootcamp in Fab Lab Barcelona</a>
          </p>
          
        </div>
      </div>
   </div> <!-- column-->
    
    </div>
  </div>
</section>