<footer class="footer">
  <div class="container">

    <div class="columns">
    <div class="column has-text-centered">
      <div class="content is-small" style="padding-top: 36px">
        <img src="/assets/fabricademy-logo-virtical-solid-v2.svg" style="width:100%;max-width: 200px"><br><!-- fabricademy.svg -->
        Textile & Technology Academy<br>
          (c) 2017-2025 all rights reserved</div>
      <hr class="is-hidden-tablet"/>
    </div>
    <div class="column">
          <div class="footer-menu">
              <ul class="menu-list ">
            <li><a href="/about">About</a></li>
            <li><a href="/program">Program</a></li>
            <li><a href="/apply/">Apply</a></li>
            <li><a href="/faculty">Faculty</a></li>
            <li><a href="/nodes/">Labs</a></li>
            <li><a href="/bootcamp">Bootcamps</a></li>
            <li><a href="https://class.textile-academy.org">Class archive</a></li>
            <li><a href="/q-a/">Q&amp;A</a>
            <li><a href="https://vimeo.com/fabricademy">Videos</a></li>
            <li><a href="/expo/">Expo</a>
            <li><a href="/license/">License</a>
           <li><a href="mailto:info@textile-academy.org">Contact us</a></li>
            </ul>
          </div>
    </div>
    <div class="column">
     {{> socialmenu}}
    </div>
    <div class="column is-one-third">
      <hr class="is-hidden-tablet"/>
      <div class="has-text-centered">
      <div class="box">
      {{!-- Email subscribe form at the bottom of the page --}}
      {{!-- #if @labs.subscribers --}}
      <section class="gh-subscribe">
          <h3 class="gh-subscribe-title title is-4">Subscribe to {{@blog.title}} newsletter</h3>
          <p>Get the latest posts delivered right to your inbox.</p>
          <div class="has-text-left" style="margin-top: 16px">
          {{> newsletter }}
          {{!-- subscribe_form placeholder="Your email address" --}}
          </div>
          {{!-- <p style="margin-top: 16px">
          <span class="gh-subscribe-rss">or subscribe <a href="http://cloud.feedly.com/#subscription/feed/{{@blog.url}}/rss/">via RSS</a> with Feedly!</span></p> --}}
      </section>
      {{!-- /if --}}
      </div>

      </div>
    </div>
  </div>


<div class="has-text-centered">
      <p style="margin-top: 32px;">Main partners:</p>
      <img class="image" style="margin: 0 auto" src="/content/images/supported_by.svg">
</div>


  </div>
</footer>

