<section id="hilights" class="section is-medium bg-inverted">
  
  <div class="container">
        <div class="heading has-text-centered" style="margin-bottom: 72px">
          <h1 class="title is-2">What makes Fabricademy special</h1>
        </div>
        
        <div class="columns">
          <div class="column has-text-right">
            <div class="panel">
               <h2 class="title">PROGRAM</h1>
             
              <p class="content is-medium">Learn skills in great demand in the fashion, textiles and creative industries</p>
              </div>
            
            <div class="panel">
            <h1 class="title">FACULTY</h1>
            <p class="content is-medium">Global experts for each topic, and trained local instructors following you day by day for six months</p>
          </div>
            
            <div class="panel">
            <h1 class="title">METODOLOGY</h1>
            <p class="content is-medium">Hands-on learning, 13 projects in 13 weeks to prove your skills, and a final project to integrate them</p>
          </div>
          </div>
          <div class="column has-text-centered" style="padding-top: 78px;padding-bottom:78px">
            <img src="/assets/fabricademy-logow.svg" class="image" style="width:80%;margin-left:auto;margin-right:auto">
          </div>
          <div class="column">
            <div class="panel">
            <h1 class="title">INTENSIVE COURSE</h1>
            <p class="content is-medium">Get a top level training in only six months without traveling to a foreign country</p>
          </div>
          <div class="panel">
            
            <h1 class="title">BUILD A PORTFOLIO</h1>
            <p class="content is-medium">Projects developed during the class will help you build an extensive portfolio</p>
          </div>
            
            <div class="panel">
            <h1 class="title">GLOBAL EDUCATION</h1>
            <p class="content is-medium">Study and work with a global community of like minded people sharing your interests</p>
          </div>
          </div>
      </div>
  
  
</section>
