  <div class="section">
  <h3> Instagram <a href="http://instagram.com/fabricademy">@fabricademy</a></h3>
<!-- LightWidget WIDGET --><script src="https://cdn.lightwidget.com/widgets/lightwidget.js"></script><iframe src="https://cdn.lightwidget.com/widgets/532e9e16ec6a5cf8bbf3225d146bbf2c.html" scrolling="no" allowtransparency="true" class="lightwidget-widget" style="width:100%;border:0;overflow:hidden;"></iframe>
 

  </div>
