  <div class="section">
  <h3> Instagram <a href="http://instagram.com/fabricademy">@fabricademy</a></h3>
  
  <!-- LightWidget WIDGET --><script src="//lightwidget.com/widgets/lightwidget.js"></script><iframe src="//lightwidget.com/widgets/99e2c9eb1c02512c9b339f56c1190797.html" scrolling="no" allowtransparency="true" class="lightwidget-widget" style="width: 100%; border: 0; overflow: hidden;"></iframe>
  
  
  </div>