<section id="join" class="section is-medium">
  <div class="container">
    <div class="columns" style="flex-wrap: wrap; justify-content: center;">
      <div class="column">
        <div class="section fix-height">
        <div class="heading  has-text-centered">
          <h1 class="title">Discover the network<br> of labs</h1>
          <p></p>
	  <a href="/nodes/" class="button is-large is-primary">Fabricademy Labs</a>
	  <p>&nbsp;</p>
          <h2 class="subtitle">
           You can apply to <strong>host</strong> Fabricademy
           and offer the program in your lab
          </h2>
          <a href="https://bit.ly/fabricademy-nodes" class="button is-primary is-outlined">Register your lab</a>
        </div>
      </div>
   </div> <!-- column-->
    <div class="column">
      <div class="section fix-height">
              <div class="heading  has-text-centered">
		<h1 class="title">Join Fabricademy<br/> &amp; learn with us</h1>
          <p></p>
		<a href="/apply/" class="button is-danger is-large">Application Guide</a>
		<p>&nbsp;</p>
                <h2 class="subtitle">
                  You can follow the course in many labs around the world
                </h2>
                <a href="/join" class="button is-danger is-outlined">Application Form</a>
              </div>
        </div>
      </div><!-- column-->
      <div class="column pt-4" style="width: 100%; flex-basis: initial; text-align: center;">
        <div>
          <h2 class="subtitle">Do you want to have more information?</h2>
          <a class="button is-large" href="https://us15.list-manage.com/contact-form?u=5c2edc70766f484142086abb9&form_id=6720b001052c1793a08e0ab608fa4c3a" target="_blank">I'm interested, contact me</a>
      </div>
    </div>
  </div>
</section>
