<section id="join" class="section is-medium">
  <div class="container">
    <div class="columns">
      <div class="column">
        <div class="section fix-height">
        <div class="heading  has-text-centered">
          <h1 class="title">HOST FABRICADEMY <br> IN YOUR LAB</h1>
          <p></p>
          <h2 class="subtitle">
           You can apply to <strong>host</strong> Fabricademy
           and offer the program in your lab
          </h2>
          <button class="button is-large is-primary">Apply now</button>
        </div>
      </div>
   </div> <!-- column-->
    <div class="column">
      <div class="section fix-height">
              <div class="heading  has-text-centered">
                <h1 class="title">Register<br/> to Fabricademy 2017</h1>
          <p></p>
                <h2 class="subtitle">
                  You can already follow the course in many labs around the world
                </h2>
                <button class="button is-large is-danger">Apply as student</button>
              </div>
        </div>
      </div><!-- column-->
    </div>
  </div>
</section>