
<div id="slogan" class="has-text-centered" data-vide-bg="mp4: assets/night, webm: assets/night, poster: assets/video_cover"
           data-vide-options="position: 0% 0%">
<div class="slogan-title">
<img class="animated bounceInDown step1" src="/assets/fabricademy-logow.svg" style="width: 200px">
<h2 class="animated bounceInDown step1">FABRICADEMY</h2>
<h2 class="animated fadeIn step3">a new textile academy</h2>
<h3 class="animated fadeIn step3">a journey at the intersection between textiles,
digital fabrication and biology </h3>
</div>

<button id="enroll" class="button is-large is-danger animated tada">Register today</button>

<div id="learn-more" class="animated bounce" ><a data-scroll href="#videoplayer" style="text-decoration: none;color:white">Learn more<br>
<span class="icon">
  <i class="fa fa-arrow-down"></i>
</span></a>
</div>
</div>