
<div id="slogan" class="has-text-centered" data-vide-bg="mp4: assets/night, webm: assets/night, poster: assets/video_cover"
           data-vide-options="position: 0% 0%">
<div class="slogan-title">
<h1 class="animated bounceInDown step1">FABRICADEMY</h1>
<h2 class="animated fadeIn step2">textile & technology academy</h2>
<h3 class="animated fadeIn step3">a journey at the intersection between textiles,
digital fabrication and biology </h3>
</div>

<a id="enroll" href="/apply/" class="button is-large is-danger animated tada">Apply today</a>

<div id="learn-more" class="animated bounce" ><a data-scroll href="#videoplayer" style="text-decoration: none;color:white">Learn more<br>
<span class="icon">
  <i class="fa fa-arrow-down"></i>
</span></a>
</div>
</div>
