      <aside class="menu social-menu">
        <hr class="is-hidden-tablet"/>
        <p class="menu-label">
           Follow us on:
         </p>
        <ul class="menu-list ">
      <li><a href="http://twitter.com/fabricademy"><i class="fa fa-twitter"></i> Twitter</a></li>
      <li><a href="http://facebook.com/fabricademy"><i class="fa fa-facebook"></i> Facebook</a></li>
      <li><a href="http://instagram.com/fabricademy"><i class="fa fa-instagram"></i> Instagram</a></li>
      <!-- <li><a><i class="fa fa-pinterest"></i> Pinterest</a></li> -->
    </ul>
      </aside>