<div id="top-menu" class="animated fadeIn">
<nav class="nav">
  <div class="nav-left" style="overflow: hidden">
    <a class="nav-item nav-brand" href="/" style="margin-left: 14px">
        <img src="/assets/fabricademy24-logo-blue.svg"> FABRICADEMY
        <!-- fabricademy-logo.svg -->
    </a>
    <!-- This "nav-toggle" hamburger menu is only visible on mobile -->
     <!-- You need JavaScript to toggle the "is-active" class on "nav-menu" --> 
  </div>
     <span class="nav-toggle">
       <span></span>
       <span></span>
       <span></span>
     </span>

     <div class="nav-right nav-menu">
       <a class="nav-item is-tab" href="/about/">About</a>
       <a class="nav-item is-tab" href="/apply/">Apply</a>
       <a class="nav-item is-tab" href="/program/">Program</a>
       <a class="nav-item is-tab" href="/faculty/">Faculty</a>
       <a class="nav-item is-tab" href="/nodes/">Labs</a>
       <a class="nav-item is-tab" href="/bootcamp/">Bootcamps</a>
       <a class="nav-item is-tab" href="/subscribe/">Subscribe</a>
     </div>
    
    </div>
  
</nav>
</div>
