<div id="top-menu" class="animated fadeIn">
<nav class="nav">
  <div class="nav-left" style="overflow: hidden">
    <a class="nav-item" href="/" style="margin-left: 14px">
        <img src="/assets/fabricademy-logo.svg"> FABRICADEMY
    </a>
    <!-- This "nav-toggle" hamburger menu is only visible on mobile -->
     <!-- You need JavaScript to toggle the "is-active" class on "nav-menu" --> 
  </div>
     <span class="nav-toggle">
       <span></span>
       <span></span>
       <span></span>
     </span>

     <div class="nav-right nav-menu">
       <a class="nav-item is-tab" href="/about/">About</a>
       <a class="nav-item is-tab" href="/program/">Program</a>
       <a class="nav-item is-tab" href="/faculty/">Faculty</a>
       <a class="nav-item is-tab" href="/sites/">Sites</a>
       <a class="nav-item is-tab" href="/textile-academy-bootcamp-wrapup/">Bootcamp</a>
       <a class="nav-item is-tab" href="http://wiki.textile-academy.org">Wiki</a>
       <a class="nav-item is-tab" href="/join/">Join</a>
     </div>
    
    </div>
  
</nav>
</div>