  <div class="section">
  <a class="twitter-timeline" data-link-color="#00D8B4" href="https://twitter.com/fabricademy">Tweets by @fabricademy</a> <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
  
</div>
  