<section class="section is-info is-small" id="videoplayer" style="background-color:rgb(0, 216, 180)">

  <div class="content">
    <div class="heading">
      <h1 class="title is-1">Learn more about Fabricademy</h1>
    </div>

    <div  class="video has-text-centered" style="width:80%;margin-left:auto;margin-right:auto">
   <iframe src="https://player.vimeo.com/video/216487092" width="960" height="540" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
    </div>
    
    <div style="width: 80%; margin-left: auto; margin-right: auto; padding: 32px">
      <p class="title is-4 bg-inverted">Fabricademy is a transdisciplinary course that focuses on the development of new technologies applied in the textile industry, in its broad range of applications, from the fashion industry and the upcoming wearable market.</p>
    </div>

  </div>

</section>


