<section class="section is-info is-small" id="videoplayer" style="background-color:rgb(0, 216, 180)">

  <div class="content">
    <div class="heading">
      <h1 class="title is-1">Learn more about Fabricademy</h1>
    </div>

    <div  class="video text-is-centered is-fullwidth">

    <video id="my-video" class="video-js" controls preload="auto"        
        poster="/assets/video_cover.jpg" data-setup="{}">
       <source src="/assets/full.mp4" type='video/mp4'>
       <source src="/assets/full.webm" type='video/webm'>
       <p class="vjs-no-js">
         To view this video please enable JavaScript, and consider upgrading to a web browser that
         <a href="http://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a>
       </p>
     </video>
      
    </div>
    
    <div style="width: 80%; margin-left: auto; margin-right: auto; padding: 32px">
      <p class="title is-4 bg-inverted">Fabricademy is a transdisciplinary course that focuses on the development of new technologies applied in the textile industry, in its broad range of applications, from the fashion industry and the upcoming wearable market.</p>
    </div>

  </div>

</section>