{{!< default}}

<section class="section">
    <div class="content" style="margin-top: 100px;">
        <h1 class="title is-1 post-title">{{code}} - {{message}}</h1>
        <section class="post-content">
            <a class="error-link" href="{{@site.url}}">Go to the front page →</a>
        </section>
    </div>
</section>

<script>plausible("404",{ props: { path: document.location.pathname } });</script>
