{{!< default}}

{{!-- This is a page template. A page outputs content just like any other post, and has all the same
    attributes by default, but you can also customise it to behave differently if you prefer. --}}

{{!-- Everything inside the #post tags pulls data from the page --}}

{{#post}}
<div style="margin-top: 100px; max-height: 400px; overflow-y:hidden">

{{#if image}}<img class="image" src="{{image}}">{{/if}}

</div>
<section class="section">
<div class="content">


<h1 class="title is-1 post-title">{{title}}</h1>
 
{{content}}
 
</div>
</section>

<section class="section">

<div class="heading">
  <div class="title">Staff</div>
  <div class="subtitle">Coordination</div>
</div>

<div class="card">
  <div class="card-content">
    <div class="media">
      <div class="media-content">
        <p class="title is-4">Anastasia Pistofidou - FabTextiles / Fab Lab BCN</p>
        <p class="subtitle is-6">Anastasia is a Greek architect specialized in digital fabrication technologies, design and education. She has a Master degree from the Institute for Advanced Architecture of Catalonia 2010-2011 with a specialization in Digital tectonics and a Bachelor Degree from the Aristotle University of Thessaloniki, department of Architecture in 2008. She currently works at the Institute for Advanced Architecture of Catalonia (IAAC) Fab Lab Barcelona as the director and founder of the FabTextiles research lab. She combines the analog and the digital towards applied research focused on new materials, art and textiles.</p>
      </div>
    </div>

  </div>
</div>

<div class="card">
  <div class="card-content">
    <div class="media">
      <div class="media-content">
        <p class="title is-4">Cecilia Raspanti - TextileLab Amsterdam / Waag Society</p>
        <p class="subtitle is-6">Cecilia is a fashion/textile designer and digital fabrication expert. She studied fashion design and knitwear at Polimoda Fashion Institute in Florence, Italy.
Currently based in Amsterdam, she is the co-founder of the TextileLab Amsterdam and co-initiator of the educational
program TextileAcademy at Waag Society. Here she leads the creative research and technological development of
new concepts and alternatives for the textile and clothing industry, which is at the moment part of the TCBL project.
Experienced in fashion, knitwear and textiles, she focuses on translating traditional craftsmanship techniques and
small production processes into digital fabrication opportunities to facilitate the access of these technologies for a
broader public. Always inspired by human’s connection to nature and technology, her latest work involves research
towards more sustainable solutions for dyeing in the textile and clothing industry.</p>
      </div>
    </div>

  </div>
</div>

<div class="card">
  <div class="card-content">
    <div class="media">
      <div class="media-content">
        <p class="title is-4">Fiore Basile - Fab Lab Toscana / Fabctory / Fab Connections</p>
        <p class="subtitle is-6">Fiore has been coding computers, and soon moved to early network hosting a BBS in his room in the late 80s, getting a Computer Science degree, founding two IT startups, managing EU IST research projects, building web and mobile apps and consulting to companies. In his late thirties he realized that software alone cannot make a real impact in the world, and he started to get involved in the local Fab Lab movement first, then joining the Fab
Academy and opening a public access Fab Lab in his town, Cascina, Italy. He is currently running a network of digital fabrication labs all over Tuscany, connecting projects and infrastructure for a future of distributed manufacturing and education, and is lead manager of infrastructure for different educational programs in the Fab Lab network such as Fab Academy and Bio Academy.</p>
      </div>
    </div>

  </div>
</div>

</seciton>


 {{/post}}
 